# node
node_modules/

# sass
.sass-cache/
*.css.map

# build
dist/
build/

# IDE
.vscode/
.idea/

# logs
npm-debug.log
yarn-debug.log
yarn-error.log

# system
.DS_Store           # macOS
Thumbs.db           # Windows

# dependencies
package-lock.json 
